<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SOCKS5 Manager</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <style>
            body {
                background-color: #FCFCFC;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">List servers</a>
                </li>
                <li>
                    <a href="/server/add">Add server</a>
                </li>
            </ul>
        </nav>
        {%block body %} {% endblock %}
    </body>
</html>